<md-card ng-if="!$ctrl.item.editMode">
  <md-toolbar class="md-primary">
    <div class="md-toolbar-tools">
      <md-button class="md-icon-button" ng-if="$root.role == 'admin'" ng-click="$ctrl.item.editMode=true;">
        <md-icon>create</md-icon>
      </md-button>
      <span flex></span>
    </div>
  </md-toolbar>
  <md-card-content>
    <div layout="row" layout-align="start center">
      <h2 class="md-title" ng-if="$ctrl.item.showOption == '1'">Explanation</h2>
    </div>
    <div flex>
      <md-ktx ng-model="$ctrl.detail.question"></md-ktx>
      <div ng-repeat="select in $ctrl.detail.allSelect" layout="row" layout-align="start center">
        <md-checkbox ng-model="select.userIsAnswer" disabled="disabled"	aria-label="checkbox">
        </md-checkbox>
        <i class="fa fa-times-circle" style="color:red" ng-if="select.isAnswer==0"></i>
        <i class="fa fa-check-circle" style="color:green" ng-if="select.isAnswer==1"></i>
        <ktx ng-model="select.content"></ktx>
      </div>
    </div>
    <div ng-if="$root.role == 'admin'">
      <small><small>{{$ctrl.item.seq}} - {{$ctrl.item.code}} - {{$ctrl.item.itemId}}</small></small>
    </div>
  </md-card-content>
</md-card>

<md-card ng-if="$ctrl.item.editMode" md-theme="ttoDeepOrange">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <md-button class="md-icon-button" ng-click="$ctrl.item.editMode=false;">
        <md-icon>visibility</md-icon>
      </md-button>
      itemId - {{$ctrl.item.itemId}}
      <span flex></span>
      <md-button class="md-icon-button" ng-click="$ctrl.updateChange($ctrl.item);">
        <md-icon>save</md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-card-content>
    <div layout="row">
      <md-input-container class="md-block" flex>
        <label>Seq</label>
        <input ng-model="$ctrl.item.seq">
      </md-input-container>
      <md-input-container class="md-block" flex>
        <label>Item Type</label>
        <input ng-model="$ctrl.item.itemTypeId">
      </md-input-container>
    </div>
    <md-input-container class="md-block">
      <label>Code</label>
      <textarea ng-model="$ctrl.item.code"></textarea>
    </md-input-container>
    <md-input-container class="md-block">
      <label>Question</label>
      <textarea ng-model="$ctrl.detail.question"></textarea>
    </md-input-container>
    <div layout="row" ng-repeat="select in $ctrl.detail.allSelect" layout-align="start center">
      <md-input-container class="md-block" flex>
        <label><md-ktx ng-model="select.content"></md-ktx></label>
        <textarea placeholder="Select content" ng-model="select.content"></textarea>
      </md-input-container>
      <md-checkbox aria-label="check box" ng-model="select.isAnswer" ng-change="updatePoint(select)">
      </md-checkbox>
      <md-input-container class="md-block" flex="10">
        <label>Point</label>
        <input ng-model="select.point" type="number">
      </md-input-container>
      <md-button class="md-icon-button md-mini" ng-click="$ctrl.removeSelect($ctrl.detail.allSelect, $index);">
        <md-icon>highlight_remove</md-icon>
      </md-button>
    </div>
    <div layout layout-sm="column">
      <md-button class="md-fab md-primary md-mini" aria-label="Add" ng-click="$ctrl.addSelect($ctrl.detail);">
        <md-icon>add</md-icon>
      </md-button>
    </div>

  </md-card-content>
</md-card>
