<md-content layout layout-align="center center" ng-controller="itemCtrl">
  <div flex style="max-width: 500px;">
		<div ng-repeat="item in itemList | orderBy:['seq', 'itemId']">
      <item-content ng-if="item.itemTypeId == 1" item="item"></item-content>
      <item-content ng-if="item.itemTypeId == 2" item="item"></item-content>
      <item-content ng-if="item.itemTypeId == 3" item="item"></item-content>
      <item-content ng-if="item.itemTypeId == 4" item="item"></item-content>
      <item-svg ng-if="item.itemTypeId == 5" item="item"></item-svg>
      <item-jsxjc ng-if="item.itemTypeId == 6" item="item"></item-jsxjc>
      <item-youtube ng-if="item.itemTypeId == 7" item="item"></item-youtube>
      <item-slide ng-if="item.itemTypeId == 8" item="item"></item-slide>
      <item-datauri ng-if="item.itemTypeId == 9" item="item"></item-datauri>
    </div>
  </div>
</md-content>
