<form hero-id="hero-test">
	<div layout="row" layout-align="center center">
	  <md-content class="tto-background" flex style="max-width: 600px;">
			<md-card flex>
			  <md-card-content>
					<div layout-padding layout="row" layout-xs="column">
						<user-avatar ng-model="avatarId"></user-avatar>
					  <md-select placeholder="Select avatar" ng-model="avatarId" ng-required="true">
					    <md-option ng-repeat="avatar in allAvatar" value="{{avatar.avatarId}}">
						    {{avatar.avatarId}}
					    </md-option>
					  </md-select>
					  <span flex></span>
		        <div layout="row" layout-align="center center">
			        <div class="inset">
			        	{{coin}}
			        </div>
			        <div class="inset">
								<md-icon>stars</md-icon>
			        </div>
			        <div class="inset">
			        	{{point}}
			        </div>
			        <div class="inset">
								<md-icon>star</md-icon>
			        </div>
		        </div>
					</div>
					<div layout-padding>
				    <div layout layout-xs="column">
				      <md-input-container flex>
				        <label>First name (ชื่อ)</label>
				        <input ng-model="firstname" required>
				      </md-input-container>
				      <md-input-container flex>
				        <label>Last Name (นามสกุล)</label>
				        <input ng-model="lastname" required>
				      </md-input-container>
				    </div>
				    <div layout layout-xs="column">
				      <md-input-container flex>
				        <label>Nick Name (ชื่อเล่น)</label>
				        <input ng-model="nickname" required>
				      </md-input-container>
				      <md-input-container flex>
				        <label>Phone Number (เบอร์โทรศัพท์)</label>
				        <input ng-model="phone" type="tel" required>
				      </md-input-container>
				      <md-input-container flex>
				        <label>Date of Birth (วันเกิด)</label>
				        <input ng-model="birthdate" type="date" required>
				      </md-input-container>
				    </div>
				    <div layout layout-xs="column">
				      <md-input-container flex>
				        <label>School Name (ชื่อโรงเรียน)</label>
				        <input ng-model="school" required>
				      </md-input-container>
				      <md-input-container flex>
				        <label>Level (ระดับชั้น)</label>
				        <input ng-model="province" required>
				      </md-input-container>
				      <md-input-container flex>
				        <label>Province (จังหวัด)</label>
				        <input ng-model="level" required>
				      </md-input-container>
				    </div>
				    <div layout layout-xs="column">
				      <md-input-container flex>
				        <label>Purpose (วัตถุประสงค์)</label>
				        <textarea ng-model="purpose" row="3" required></textarea>
				      </md-input-container>
				    </div>
					</div>
			  </md-card-content>
			</md-card>
	  	
	  </md-content>
	</div>
</form>
