<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
      
    <link rel="stylesheet" href="libs/please-wait/build/please-wait.css">
    <link rel="stylesheet" href="libs/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="libs/jsxgraph/jsxgraph.css">
    <link rel="stylesheet" href="libs/katex/katex.min.css">
    <link rel="stylesheet" href="libs/animate/animate.min.css">
    <link rel="stylesheet" href="libs/angular-hero/angular-hero.css">
    <link rel="stylesheet" href="libs/spinkit/css/spinkit.css">
    <link rel="stylesheet" href="libs/google-fonts/roboto.css">
    <link rel="stylesheet" href="libs/material-icons/material-icons.css">
    <link rel="stylesheet" href="libs/sweetalert/dist/sweetalert.css">
    <link rel="stylesheet" href="libs/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="libs/angular-timeline/dist/angular-timeline.css">
    <link rel="stylesheet" href="libs/angular-timeline/dist/angular-timeline-animations.css">
    <link rel="stylesheet" href="app.css">

  </head>
  <body ng-app="app" layout="row">
    <script src="app-info.js"></script>    
    <script src="libs/sweetalert/dist/sweetalert.min.js"></script>
    <script type="text/javascript">
      if (appInfo.isWeb && !appInfo.isChrome) {
        swal('Please use Chrome !!!');
        window.stop();
      }
    </script>
    
    <!-- Run please-wait to show splash screen -->
    <script src="libs/please-wait/build/please-wait.min.js"></script>
    <script src="libs/tto/tto-icon-set.js"></script>
    <script type="text/javascript">
      window.loading_screen = window.pleaseWait({
        logo: ttoIcon('tto-logo'),
        backgroundColor: '#ffffff',
        loadingHtml: '<div class="sk-three-bounce"><div class="sk-child sk-bounce1"></div><div class="sk-child sk-bounce2"></div><div class="sk-child sk-bounce3"></div></div>'
      });
    </script>

    <!--<div id="main-spin" ng-show="$root.isLoading > 0"></div>-->
    <!--
    <div class="sk-fading-circle tto-center" ng-show="$root.isLoading > 0">
      <div class="sk-circle1 sk-circle"></div>
      <div class="sk-circle2 sk-circle"></div>
      <div class="sk-circle3 sk-circle"></div>
      <div class="sk-circle4 sk-circle"></div>
      <div class="sk-circle5 sk-circle"></div>
      <div class="sk-circle6 sk-circle"></div>
      <div class="sk-circle7 sk-circle"></div>
      <div class="sk-circle8 sk-circle"></div>
      <div class="sk-circle9 sk-circle"></div>
      <div class="sk-circle10 sk-circle"></div>
      <div class="sk-circle11 sk-circle"></div>
      <div class="sk-circle12 sk-circle"></div>
    </div>
    -->
    
    <div class="tto-center" ng-show="$root.isLoading > 0">
      <md-progress-circular class="md-warn" md-mode="indeterminate" md-diameter="120px"></md-progress-circular>
    </div>

    <!-- Left NAV -->
    <md-sidenav ng-if="$root.isLoggedIn"
      layout="column" class="md-sidenav-left md-whiteframe-z2" 
      md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')"
    >
      <side-menu></side-menu>
      <!--<ng-include src="'view/side-toolbar.html'"></ng-include>-->
      <!--<ng-include src="'view/side-nav-list.html'"></ng-include>-->
    </md-sidenav>


    <div flex layout="column" class="relative" layout-fill role="main">
      <md-toolbar>
        <div class="md-toolbar-tools">
          <md-button class="md-icon-button" ng-click="$root.toggleSidenav('left')" hide-gt-md aria-label="Menu">
            <md-icon>menu</md-icon>
          </md-button>
          <h3> {{ $root.title }} </h3>
          <!--<md-icon>{{$root.icon}}</md-icon>-->
          <span flex></span>
          <md-button class="md-icon-button" ng-if="!$root.isLoggedIn" ng-click="$root.loginDialog();">
            <md-icon>lock</md-icon>
          </md-button>
          <md-button class="md-icon-button" ng-if="$root.urlStack.length" ng-click="$root.goBack();">
            <md-tooltip>Go back previous page</md-tooltip>
            <md-icon>arrow_back</md-icon>
          </md-button>
          <md-button class="md-icon-button" ng-if="$root.component.comment" ng-click="$root.showCommentDialog($event)">
            <md-icon>comment</md-icon>
          </md-button>
        </div>
      </md-toolbar>

      <md-toolbar ng-if="$root.showTab">
        <md-tabs md-stretch-tabs="always" md-selected="$root.selectedTab">
          <md-tab label="LEARN ({{$root.countLearn}})"></md-tab>
          <md-tab label="START ({{$root.countStart}})"></md-tab>
          <md-tab label="DONE ({{$root.countDone}})"></md-tab>
        </md-tabs>
      </md-toolbar>

      <md-content>
        <ui-view>
          <ng-view></ng-view>
        </ui-view>
      </md-content>

      <!-- FAB action -->
      <md-button ng-if="$root.component.addNewSection" class="md-fab md-primary md-fab-bottom-right" 
        ng-click="$root.boardcast('addNewSection');"
      >
        <md-icon>add</md-icon>
      </md-button>
      
      <md-button ng-if="$root.component.addNewTask" class="md-fab md-primary md-fab-bottom-right" 
        ng-click="$root.boardcast('addNewTask');"
      >
        <md-icon>add</md-icon>
      </md-button>

      <md-button ng-if="$root.component.addNewItem" class="md-fab md-primary md-fab-bottom-right" 
        ng-click="$root.boardcast('addNewItem');"
      >
        <md-icon>add</md-icon>
      </md-button>

      <md-button ng-if="$root.component.addCourse" class="md-fab md-fab-bottom-right" 
        aria-label="Submit" ng-click="$root.goRoute('category/add', 'keep');"
      >
        <md-icon>playlist_add</md-icon>
      </md-button>
  
      <md-button ng-if="$root.component.addNewItem" class="md-fab md-fab-bottom-right" 
        aria-label="Add" ng-click="$root.boardcast('addNewItem');"
      >
        <md-icon>done_all</md-icon>
      </md-button>
  
      <md-button ng-if="$root.component.addCourseItem" class="md-fab md-fab-bottom-right" 
        aria-label="Submit" ng-click="$root.boardcast('addCourseItem');"
      >
        <md-icon>my_library_add</md-icon>
      </md-button>
      
      <md-button ng-if="$root.component.addUserCourseItem" class="md-fab md-fab-bottom-right" 
        aria-label="add" ng-click="$root.boardcast('addUserCourseItem');"
      >
        <md-icon>add</md-icon>
      </md-button>

      <md-button ng-if="$root.component.addUserCourseItemAdmin" class="md-fab md-fab-bottom-right" 
        aria-label="add" ng-click="$root.boardcast('addUserCourseItemAdmin');"
      >
        <md-icon>add</md-icon>
      </md-button>

      <md-button ng-if="$root.component.addItemDetail" class="md-fab md-fab-bottom-right" 
        aria-label="Add" ng-click="$root.boardcast('addItemDetail');"
      >
        <md-icon>add</md-icon>
      </md-button>

      <md-button ng-if="$root.component.userCourseItemDone" class="md-fab md-fab-bottom-right" 
        aria-label="Add" ng-click="$root.boardcast('userCourseItemDone');"
      >
        <md-icon>check</md-icon>
      </md-button>

    </div>
    
    <!-- Angular Material Dependencies -->
    <script src="libs/angular/angular.min.js"></script>
    <script src="libs/angular-resource/angular-resource.min.js"></script>
    <script src="libs/angular-route/angular-route.min.js"></script>
    <script src="libs/angular-animate/angular-animate.min.js"></script>
    <script src="libs/angular-aria/angular-aria.min.js"></script>
    <script src="libs/angular-messages/angular-messages.min.js"></script>
    <script src="libs/angular-material/angular-material.min.js"></script>
    <script src="libs/lodash/lodash.min.js"></script>
    <script src="libs/restangular/dist/restangular.min.js"></script>
    <script src="libs/marked/marked.min.js"></script>
    <script src="libs/jsxgraph/jsxgraphcore.js"></script>
    <script src="libs/katex/katex.min.js"></script>
    <script src="libs/angular-hero/angular-hero-min.js"></script>
    <script src="libs/ramjet/ramjet.min.js"></script>
    <script src="libs/angular-hero-ramjet/angular-hero-ramjet.min.js"></script>
    <script src="libs/ASCIIMathTeXKaTeX/ASCIIMathTeXKaTeX.js"></script>
    <script src="libs/spin-js/spin.min.js"></script>
    <script src="libs/fabric/dist/fabric.min.js"></script>
    <script src="libs/angular-morph/dist/angular-morph.min.js"></script>
    <script src="libs/angular-scroll-animate/dist/angular-scroll-animate.js"></script>
    <script src="libs/angular-timeline/dist/angular-timeline.js"></script>
    <script src="libs/angular-scroll-glue/src/scrollglue.js"></script>

    <script src="libs/tto/ASCIIMathKaTeXHTML.js"></script>
    <script src="libs/tto/tto-regexp.js"></script>
    <script src="libs/tto/JSXCreate.js"></script>
    <script src="libs/tto/JXGDump.js"></script>
    <script src="libs/tto/tto-image.js"></script>
    <script src="https://www.youtube.com/iframe_api"></script>
    <script src="libs/angular-youtube-mb/dist/angular-youtube-embed.min.js"></script>

    <!-- TTO App -->
    <script src="app.js"></script>
    <script src="app-run.js"></script>
    <!-- Controller -->
    <script src="controller/login/login.js"></script>
    <script src="controller/logout/logout.js"></script>
    <script src="controller/home/home.js"></script>
    <script src="controller/group/group.js"></script>
    <script src="controller/course/course.js"></script>
    <script src="controller/user-course-section/user-course-section.js"></script>
    <script src="controller/add-user-course-item/add-user-course-item.js"></script>
    <script src="controller/user-section-item/user-section-item.js"></script>
    <script src="controller/user-course-item/user-course-item.js"></script>
    <script src="controller/user-item-detail/user-item-detail.js"></script>
    <script src="controller/user-course-item-detail/user-course-item-detail.js"></script>
    <script src="controller/notification/notification.js"></script>
    <script src="controller/coin-admin/coin-admin.js"></script>
    <script src="controller/create-item/create-item.js"></script>
    <script src="controller/add-course-item/add-course-item.js"></script>
    <script src="controller/add-user-course-item-admin/add-user-course-item-admin.js"></script>
    <script src="controller/user-course-admin/user-course-admin.js"></script>
    <script src="controller/user-course-item-admin/user-course-item-admin.js"></script>
    <script src="controller/user-course-item-detail-admin/user-course-item-detail-admin.js"></script>
    <script src="controller/test-admin/test-admin.js"></script>
    <script src="controller/comment-dialog/comment-dialog.js"></script>
    <!-- Page -->
    <script src="page/register/register.js"></script>
    <script src="page/profile/profile.js"></script>
    <script src="page/coin/coin.js"></script>
    <script src="page/category/category.js"></script>
    <script src="page/course/course.js"></script>
    <script src="page/section/section.js"></script>
    <script src="page/task/task.js"></script>
    <script src="page/item/item.js"></script>
    <script src="page/user/user.js"></script>
    <!-- Dialog -->
    <script src="dialog/login/login-dialog.js"></script>
    <script src="dialog/logout/logout-dialog.js"></script>
    <script src="dialog/activate/activate-dialog.js"></script>
    
    <!-- Directive -->
    <script src="directive/user-avatar/user-avatar.js"></script>
    <script src="directive/jsx-jc/jsx-jc.js"></script>
    <script src="directive/slide/slide.js"></script>
    <script src="directive/jsx-edit/jsx-edit.js"></script>
    <script src="directive/marked-katex/marked-katex.js"></script>
    <script src="directive/tto-marked/tto-marked.js"></script>
    <script src="directive/comment/comment.js"></script>
    <script src="directive/user-item-detail/user-item-detail.js"></script>
    <script src="component/side-menu/side-menu.js"></script>
    <!-- Services -->
    <script src="service/something/something.js"></script>
    <script src="service/app/app-service.js"></script>
    <script src="service/auth/auth-service.js"></script>
    <script src="service/user/user-service.js"></script>
    <script src="service/coin/coin-service.js"></script>
    <script src="service/bank/bank-service.js"></script>
    <script src="service/order/order-service.js"></script>
    <script src="service/category/category-service.js"></script>
    <script src="service/course/course-service.js"></script>
    <script src="service/section/section-service.js"></script>
    <script src="service/task/task-service.js"></script>
    <script src="service/item/item-service.js"></script>
    <script src="service/user-coin/user-coin-service.js"></script>
    <script src="service/user-order/user-order-service.js"></script>
    <script src="service/user-category/user-category-service.js"></script>
    <script src="service/user-course/user-course-service.js"></script>
    <script src="service/user-section/user-section-service.js"></script>
    <script src="service/user-task/user-task-service.js"></script>
    <script src="service/user-item/user-item-service.js"></script>
   
    <script src="config/config.js"></script>
    <script src="google.js"></script>
    
  </body>
</html>
