<md-card ng-if="!$ctrl.item.editMode">
  <md-toolbar class="md-primary">
    <div class="md-toolbar-tools">
      <md-button class="md-icon-button" ng-if="$root.role == 'admin'" ng-click="$ctrl.item.editMode=true;">
        <md-icon>create</md-icon>
      </md-button>
      <span flex></span>
    </div>
  </md-toolbar>
  <md-card-content>
    <div layout="row" layout-align="start center">
      <h2 class="md-title" ng-if="$ctrl.item.showOption == '1'">Explanation</h2>
    </div>
    <div flex>
      <md-ktx ng-model="$ctrl.detail.question"></md-ktx>
      <div ng-repeat="input in $ctrl.detail.allInput">
        <md-ktx ng-model="input.question"></md-ktx>
        <div layout="row">
          <md-input-container flex>
            <label>Your answer</label>
            <input ng-model="input.userAnswer" disabled="disabled">
          </md-input-container>
          <md-input-container flex>
            <label>Correct answer</label>
            <input ng-model="input.answer" disabled="disabled">
          </md-input-container>
          <i class="fa fa-times-circle" style="color:red" ng-if="input.status=='done' && input.answer!=input.userAnswer"></i>
          <i class="fa fa-check-circle" style="color:green" ng-if="input.status=='done' && input.answer==input.userAnswer"></i>
        </div>
      </div>
      
      
    </div>
    <div ng-if="$root.role == 'admin'">
      <small><small>{{$ctrl.item.seq}} - {{$ctrl.item.code}} - {{$ctrl.item.itemId}}</small></small>
    </div>
  </md-card-content>
</md-card>

<md-card ng-if="$ctrl.item.editMode" md-theme="ttoDeepOrange">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <md-button class="md-icon-button" ng-click="$ctrl.item.editMode=false;">
        <md-icon>visibility</md-icon>
      </md-button>
      itemId - {{$ctrl.item.itemId}}
      <span flex></span>
      <md-button class="md-icon-button" ng-click="$ctrl.updateChange($ctrl.item);">
        <md-icon>save</md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-card-content>
    <div layout="row">
      <md-input-container class="md-block" flex>
        <label>Seq</label>
        <input ng-model="$ctrl.item.seq">
      </md-input-container>
      <md-input-container class="md-block" flex>
        <label>Item Type</label>
        <input ng-model="$ctrl.item.itemTypeId">
      </md-input-container>
    </div>
    <md-input-container class="md-block">
      <label>Code</label>
      <textarea ng-model="$ctrl.item.code"></textarea>
    </md-input-container>
    <md-input-container class="md-block">
      <label>Question</label>
      <textarea ng-model="$ctrl.detail.question"></textarea>
    </md-input-container>
    <div layout="row" ng-repeat="input in $ctrl.detail.allInput">
      <md-input-container flex="35">
        <label><md-ktx ng-model="input.question"></md-ktx></label>
        <textarea placeholder="Question" ng-model="input.question"></textarea>
      </md-input-container>
      <md-select placeholder="Type" ng-model="input.answerType" flex="10">
        <md-option value="text">text</md-option>
        <md-option value="number">number</md-option>
      </md-select>
      <md-input-container flex="25">
        <label><md-ktx ng-model="input.answer"></md-ktx></label>
        <textarea placeholder="Answer" ng-model="input.answer"></textarea>
      </md-input-container>
      <md-input-container flex="5">
        <label>Point</label>
        <input ng-model="input.point" type="number">
      </md-input-container>
      <md-button class="md-icon-button md-mini" ng-click="$ctrl.removeInput($ctrl.detail.addInput, $index);">
        <md-icon>highlight_remove</md-icon>
      </md-button>
    </div>
          
    <div layout layout-sm="column">
      <md-button class="md-fab md-primary md-mini" aria-label="Add" ng-click="$ctrl.addInput($ctrl.detail);">
        <md-icon>add</md-icon>
      </md-button>
    </div>

  </md-card-content>
</md-card>
