<md-dialog ng-cloak ng-controller="loginDialogCtrl" layout="column">

  <md-toolbar class="md-primary" flex>
    <div class="md-toolbar-tools">
      <h3>  Login  </h3>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="goRegister();">
        <md-icon>person_add</md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <md-dialog-content layout="column" layout-align="center center" style="width:320px; height:500px;" flex>
    <img ng-src="{{$root.ttoIcon('tto-logo');}}" style="width: 200px">
    <form layout="column" layout-align="center center" ng-submit="login()">
      <md-input-container layout-fill>
        <label>Email</label>
        <input type="email" ng-model="email" required>
      </md-input-container>
      <md-input-container layout-fill>
        <label>Password</label>
        <input type="password" ng-model="password" required>
      </md-input-container>
			<div layout="row">
				<md-button class="md-raised md-primary" type="submit">
					<md-icon>lock</md-icon> Login
				</md-button>
				<md-button class="md-raised md-primary" disabled="disabled">
					<md-icon>error_outline</md-icon> Forget
				</md-button>
			</div>
    </form>	
  </md-dialog-content>

</md-dialog>