<md-dialog ng-cloak ng-controller="loginDialogCtrl" style="width:320px;" layout="column">

  <md-toolbar class="md-primary">
    <div class="md-toolbar-tools">
      <h3>  Login  </h3>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="goRegister();">
        <md-icon>person_add</md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <md-dialog-content layout="column" layout-align="center center">
    <img ng-src="{{$root.ttoIcon('tto-logo');}}">
    <form layout="column" layout-align="center center" ng-submit="login()">
      <md-input-container layout-fill>
        <label>Email</label>
        <input type="email" ng-model="email" required>
      </md-input-container>
      <md-input-container layout-fill>
        <label>Password</label>
        <input type="password" ng-model="password" required>
      </md-input-container>
      <md-button flex class="md-raised md-primary" type="submit">
        <md-icon>lock</md-icon>
      </md-button>
      <h5>forgot password ?</h5>
    </form>
  </md-dialog-content>

</md-dialog>