<md-content layout layout-align="center center" ng-controller="reviewCtrl">
  <div flex style="max-width: 500px;">
    <!--
		<div ng-repeat="task in taskList">
      <task task="task" ng-click="nextNavigate(task);"></task>
    </div>
    -->
		<div ng-repeat="item in itemList">
      <div ng-switch="item.itemTypeId">
        <div ng-switch-when="1">
          <item-radio item="item"></item-radio>
        </div>
        <div ng-switch-when="2">
          <item-content item="item"></item-content>
        </div>
        <div ng-switch-when="3">
          <item-select item="item"></item-select>
        </div>
        <div ng-switch-when="4">
          <item-input item="item"></item-input>
        </div>
        <div ng-switch-when="5">
          <item-svg item="item"></item-svg>
        </div>
        <div ng-switch-when="6">
          <item-jsxjc item="item"></item-jsxjc>
        </div>
        <div ng-switch-when="7">
          <item-youtube item="item"></item-youtube>
        </div>
        <div ng-switch-when="8">
          <item-slide item="item"></item-slide>
        </div>
        <div ng-switch-when="9">
          <item-datauri item="item"></item-datauri>
        </div>
      </div>
    </div>
  </div>
</md-content>

