<md-content layout="column" layout-align="center center">
	<div flex style="max-width: 500px;" layout-fill>
		<md-content>
			<md-card class="new">
				<md-card-content>
					<div layout="column" layout-align="center center">
				    <h3>Select user</h3>
				    <md-radio-group ng-model="filter.userId">
				      <md-radio-button ng-repeat="user in allUser" value={{user.userId}}>
				      	{{user.userId}} - {{user.nickname}}
				      </md-radio-button>
				    </md-radio-group>
					</div>
				</md-card-content>
			</md-card>
		</md-content>
	
		<md-content ng-repeat="userCourse in allUserCourse | filter:filter">
			<md-card>
				<md-card-content layout="column" layout-align="start start">
					<div layout="row" layout-align="start center" class="md-title">
						<h5><md-icon>class</md-icon> {{userCourse.nickname}} @ {{userCourse.code}}</h5>
					</div>
					<div layout="row" layout-align="start center">
						{{userCourse.name}}
					</div>
				</md-card-content>
				<md-button class="md-fab md-mini md-fab-top-right md-primary" aria-label="Play" 
				  ng-click="goRoute('user-course-item-admin/'+userCourse.userId+'/'+userCourse.userCourseId, 'keep')"
				>
					<md-icon>play_arrow</md-icon>
				</md-button>
			</md-card>
		</md-content>
	</div>
</md-content>
