<div layout="column" layout-align="center center">
	<tto-mark class="dummy" ng-model="slide" style="text-align:center;"></tto-mark>
	<tto-mark style="color:blue;" ng-model="note"></tto-mark>
</div>

<br>
<br>

<div class="md-actions" layout="row" layout-align="space-between center">
	<md-button class="md-raised md-primary" aria-label='refresh' ng-click="refreshSlide();">
    <md-icon>refresh</md-icon>
  </md-button>
  <span flex></span>
  <md-button class="md-raised md-accent" aria-label='next' ng-if="!isEnd" ng-click="nextSlide();">
    <md-icon>arrow_forward</md-icon>
  </md-button>
</div>
