<md-content class="tto-background" layout="row" layout-align="center center" ng-controller="registerCtrl">
  <div flex style="max-width: 800px;">
    <form name="registerForm">
      <md-card flex>
        <md-card-content>
          <div flex layout="row" layout-sm="column" layout-xs="column">
            <div layout="column" layout-align="center center">
              <user-avatar ng-model="user.avatarId" size="128"></user-avatar>
              <md-select placeholder="Select avatar" ng-model="user.avatarId" ng-required="true">
                <md-option ng-repeat="avatar in allAvatar" value="{{avatar.avatarId}}">
                  {{avatar.avatarId}}
                </md-option>
              </md-select>
            </div>
            <div flex layout="column">
              <md-input-container flex>
                <label>First name (ชื่อ)</label>
                <input ng-model="user.firstname" required>
              </md-input-container>
              <md-input-container flex>
                <label>Last Name (นามสกุล)</label>
                <input ng-model="user.lastname" required>
              </md-input-container>
            </div>
          </div>
          <div flex layout="column">
            <div flex layout="row" layout-xs="column">
              <md-input-container flex="50" flex-xs="100">
                <label>Email</label>
                <input ng-model="user.email" type="email" required>
              </md-input-container >
              <md-input-container flex="50" flex-xs="100">
                <label>Re-enter Email</label>
                <input ng-model="user.email2" type="email" required>
              </md-input-container>
            </div>
            <div flex layout="row" layout-xs="column">
              <md-input-container flex="50" flex-xs="100">
                <label>Password</label>
                <input ng-model="user.password" type="password" required>
              </md-input-container>
              <md-input-container flex="50" flex-xs="100">
                <label>Re-enter Password</label>
                <input ng-model="user.password2" type="password" required>
              </md-input-container>
            </div>
          </div>
          <div layout layout-sm="column" layout-xs="column">
            <md-input-container flex>
              <label>Nick Name (ชื่อเล่น)</label>
              <input ng-model="user.nickname" required>
            </md-input-container>
            <md-input-container flex>
              <label>Phone Number (เบอร์โทรศัพท์)</label>
              <input ng-model="user.phone" type="tel" required>
            </md-input-container>
            <md-input-container flex>
              <label>Date of Birth (วันเกิด)</label>
              <input ng-model="user.birthdate" type="date" required>
            </md-input-container>
          </div>
          <div layout="row" layout-sm="column" layout-xs="column">
            <md-input-container flex>
              <label>School Name (ชื่อโรงเรียน)</label>
              <input ng-model="user.school" required>
            </md-input-container>
            <md-input-container flex>
              <label>Level (ระดับชั้น)</label>
              <input ng-model="user.province" required>
            </md-input-container>
            <md-input-container flex>
              <label>Province (จังหวัด)</label>
              <input ng-model="user.level" required>
            </md-input-container>
          </div>
          <div layout="row" layout-md="column">
            <md-input-container flex>
              <label>Purpose (วัตถุประสงค์)</label>
              <input ng-model="user.purpose" required>
            </md-input-container>
          </div>
        </md-card-content>
      </md-card>
    </form>
  </div>
</md-content>
