<md-content layout layout-align="center center" ng-controller="courseCtrl">
  <div flex style="max-width: 500px;">
		<md-content ng-repeat="course in courseList">
			<md-card>
				<md-toolbar>
					<div class="md-toolbar-tools">
						<h5>
							<span class="fa-stack fa-lg">
								<i class="fa fa-book fa-stack-1x"></i>
							</span>
							{{course.name}}
						</h5>
						<span flex></span>
						<md-button class="md-icon-button" ng-click="nextNavigate(course);">
							<md-icon>play_arrow</md-icon>
						</md-button>
					</div>
				</md-toolbar>
				<md-card-content layout="column" layout-align="start start">
					<div layout="row" layout-align="start center">
						<md-ktx ng-model="course.description"></md-ktx>
					</div>
				</md-card-content>
			</md-card>
		</md-content>
  </div>
</md-content>
