<md-content layout="column" layout-align="center center" ng-controller="sectionCtrl">
  <div flex style="max-width: 500px;">
		<div ng-repeat="section in sectionList" layout-fill>
			<md-card ng-if="!section.editMode">
				<md-toolbar>
					<div class="md-toolbar-tools">
						<md-button class="md-icon-button" ng-if="$root.role == 'admin'" ng-click="section.editMode=true;">
							<md-icon>create</md-icon>
						</md-button>
						<h5>
							<span class="fa-stack fa-lg">
								<i class="fa fa-book fa-stack-1x"></i>
							</span>
							{{section.name}}
						</h5>
						<span flex></span>
						<md-button class="md-icon-button" ng-click="nextNavigate(section);">
							<md-icon>play_arrow</md-icon>
						</md-button>
					</div>
				</md-toolbar>
				<md-card-content layout="column" layout-align="start start">
					<div layout="row" layout-align="start center">
						<md-ktx ng-model="section.description"></md-ktx>
					</div>
				</md-card-content>
			</md-card>

			<md-card ng-if="section.editMode" md-theme="ttoDeepOrange">
				<md-toolbar>
					<div class="md-toolbar-tools">
						<md-button class="md-icon-button" ng-click="section.editMode=false;">
							<md-icon>visibility</md-icon>
						</md-button>
            sectionId - {{section.sectionId}}
						<span flex></span>
						<md-button class="md-icon-button" ng-click="updateChange(section);">
							<md-icon>save</md-icon>
						</md-button>
					</div>
				</md-toolbar>
				<md-card-content>
          <md-input-container class="md-block">
            <label>Seq</label>
            <input ng-model="section.seq">
          </md-input-container>
          <md-input-container class="md-block">
            <label>Name</label>
            <textarea ng-model="section.name"></textarea>
          </md-input-container>
          <md-input-container class="md-block">
            <label>Description</label>
            <textarea ng-model="section.description"></textarea>
          </md-input-container>
				</md-card-content>
			</md-card>
		</div>
  </div>
</md-content>
