<md-list>

  <md-item ng-if="$root.isLoggedIn" ng-click="$root.goRoute('', 'clear');">
  	<md-content class="side-nav-background">
	    <md-item-content md-ink-ripple layout="row" layout-align="start center">
	      <div class="inset">
	        <md-icon>home</md-icon>
	      </div>
	      <div class="inset">Home
	      </div>
	    </md-item-content>
  	</md-content>
  </md-item>

  <md-item ng-if="!$root.isLoggedIn" ng-click="$root.goRoute('login', 'home');">
  	<md-content class="side-nav-background">
      <md-item-content md-ink-ripple layout="row" layout-align="start center">
        <div class="inset">
          <md-icon>lock</md-icon>
        </div>
        <div class="inset">Login
        </div>
      </md-item-content>
  	</md-content>
  </md-item>

  <md-item ng-if="!$root.isLoggedIn" ng-click="$root.goRoute('register', 'home');">
  	<md-content class="side-nav-background">
      <md-item-content md-ink-ripple layout="row" layout-align="start center">
        <div class="inset">
          <md-icon>person_add</md-icon>
        </div>
        <div class="inset">Register
        </div>
      </md-item-content>
  	</md-content>
  </md-item>

  <md-item ng-if="$root.isLoggedIn" ng-click="$root.goRoute('coin', 'home');">
  	<md-content class="side-nav-background">
      <md-item-content md-ink-ripple layout="row" layout-align="start center">
        <div class="inset">
          <md-icon>stars</md-icon>
        </div>
        <div class="inset">Coins
        </div>
      </md-item-content>
  	</md-content>
  </md-item>

  <md-item ng-if="$root.isLoggedIn" ng-click="$root.goRoute('user-category', 'home');">
  	<md-content class="side-nav-background">
      <md-item-content md-ink-ripple layout="row" layout-align="start center">
        <div class="inset">
          <md-icon>class</md-icon>
        </div>
        <div class="inset">Course
        </div>
      </md-item-content>
  	</md-content>
  </md-item>

  <md-item ng-if="$root.isLoggedIn" ng-click="$root.goRoute('notification', 'home');">
  	<md-content class="side-nav-background">
      <md-item-content md-ink-ripple layout="row" layout-align="start center">
        <div class="inset">
          <md-icon>notifications</md-icon>
        </div>
        <div class="inset">Notification ({{$root.notificationCount}})
        </div>
      </md-item-content>
  	</md-content>
  </md-item>

  <md-item ng-if="$root.isLoggedIn" ng-click="$root.goRoute('profile', 'home');">
  	<md-content class="side-nav-background">
      <md-item-content md-ink-ripple layout="row" layout-align="start center">
        <div class="inset">
          <md-icon>person</md-icon>
        </div>
        <div class="inset">Profile
        </div>
      </md-item-content>
  	</md-content>
  </md-item>

  <md-item ng-if="$root.isLoggedIn" ng-click="$root.goRoute('logout', 'home');">
  	<md-content class="side-nav-background">
      <md-item-content md-ink-ripple layout="row" layout-align="start center">
        <div class="inset">
          <md-icon>lock_open</md-icon>
        </div>
        <div class="inset">Logout
        </div>
      </md-item-content>
  	</md-content>
  </md-item>

	<div ng-if="$root.role == 'admin'">
	  <md-divider></md-divider>

	  <md-subheader ng-click="$root.adminShow=!$root.adminShow;">
	  	Administrator <span ng-show="$root.adminShow">(-)</span><span ng-show="!$root.adminShow">(+)</span>
	  </md-subheader>

		<div ng-show="$root.adminShow">
		  <md-item ng-click="$root.goRoute('create-item', 'home');">
		  	<md-content class="side-nav-background">
		      <md-item-content md-ink-ripple layout="row" layout-align="start center">
		        <div class="inset">
		          <md-icon>create</md-icon>
		        </div>
		        <div class="inset">Create Item
		        </div>
		      </md-item-content>
		  	</md-content>
		  </md-item>
	
		  <md-item ng-click="$root.goRoute('add-course-item', 'home');">
		  	<md-content class="side-nav-background">
		      <md-item-content md-ink-ripple layout="row" layout-align="start center">
		        <div class="inset">
		          <md-icon>link</md-icon>
		        </div>
		        <div class="inset">Add Course Item
		        </div>
		      </md-item-content>
		  	</md-content>
		  </md-item>
	
		  <md-item ng-click="$root.goRoute('coin-admin', 'home');">
		  	<md-content class="side-nav-background">
		      <md-item-content md-ink-ripple layout="row" layout-align="start center">
		        <div class="inset">
		          <md-icon>stars</md-icon>
		        </div>
		        <div class="inset">Coin Admin
		        </div>
		      </md-item-content>
		  	</md-content>
		  </md-item>
	
		  <md-item ng-click="$root.goRoute('user-course-admin', 'home');">
		  	<md-content class="side-nav-background">
		      <md-item-content md-ink-ripple layout="row" layout-align="start center">
		        <div class="inset">
		          <md-icon>school</md-icon>
		        </div>
		        <div class="inset">User Course Admin
		        </div>
		      </md-item-content>
		  	</md-content>
		  </md-item>
	
		  <md-item ng-click="$root.goRoute('test-admin', 'home');">
		  	<md-content class="side-nav-background">
		      <md-item-content md-ink-ripple layout="row" layout-align="start center">
		        <div class="inset">
		          <md-icon>warning</md-icon>
		        </div>
		        <div class="inset">Test Admin
		        </div>
		      </md-item-content>
		  	</md-content>
		  </md-item>
		</div>	
	</div>

</md-list>
